* {padding: 0; margin: 0;}
a {text-decoration: none; color:inherit}
ul, li, ol {list-style: none;}
body {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 90px auto 160px;
}
header {
  background: blue;
  margin:0px auto;
  width:1440px
}
header nav {
  background:white;
  width:100%;
  height:100%;
  display: grid;
  grid-template-columns: 60px auto 30px;
  column-gap: 60px;
  align-items: center;
}
header nav>h1 a.logo {
  background-image: url(/images/Logo.png);
  display:block;
  height:30px;
}
header nav>ul {
  display:flex;
  gap: 60px;
}
header nav>a.menuBtn {
  background: url(/images/menuIcon.png) no-repeat;
  display:block;
  height: 20px;
}


main {background:lightpink}
footer {background: lightblue}